{
   "account": {
      "id": "",
      "name": "NAME",
      "description": "Pre-generated account for ETK2017",
      "namespace": "USER_ID",
      "email": "EMAIL",
      "password": "PASSWORD",
      "resourceLimits": {
         "cpuMax": 0,
         "cpuDefault": 0,
         "memMax": 0,
         "memDefault": 0,
         "storageQuota": 0
      },
      "resourceUsage": {
         "cpu": "",
         "memory": "",
         "storage": "",
         "cpuPct": "",
         "memPct": ""
      },
      "status": "approved",
      "token": "",
      "organization": "ETK2017",
      "lastLogin": 0,
      "inactiveTimeout": 1440
   }
}