apiVersion: v1
kind: ConfigMap
metadata:
  name: ndslabs-config
  namespace: default
data:
  # Enable TLS (HTTPS)?
  tls.enable: "true"

  # Customize this instance of Workbench
  workbench.domain: "local.ndslabs.org"
  workbench.name: "Labs Workbench"
  workbench.support_email: "ndslabs-support@nationaldataservice.org"
  workbench.analytics_tracking_id: ""

  # Drop-in a customized Workbench UI
  git.dropin_repo: ""
  git.dropin_branch: ""

  # Customize your Workbench catalogs
  git.spec_repo: "https://github.com/nds-org/ndslabs-specs.git"
  git.spec_branch: "master"

  # To enable account approval, you need to configure the SMTP relay to use your GMail account to relay e-mails
  # See https://support.google.com/accounts/answer/185833?hl=en
  workbench.require_account_approval: "true"
  smtp.gmail_user: "YourGmailUsername"
  smtp.gmail_pass: "YourGeneratedGmailAppPassword"
